.profilepicture {
    width: 60px;
    height: 60px;
    background-color: black;
}

.profilepictureuserpage { 
        width: 160px;
    height: 160px;
    background-color: black;
}

.profilepictureNavbar {
    width: 32px;
    height: 32px;
        background-color: black;
}

.forummessageContainer {
    border: 1px;
    
}